@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  position: relative;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

@keyframes navFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.header {
  transform-style: preserve-3d;
  transform: translateZ(11px);
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transition: all 0.3s ease-in-out;
}

.header.sticky {
  transform-style: preserve-3d;
  transform: translateZ(11px);
  padding: 15px 40px;
  background-color: #0077b6;
  box-shadow: 0px 0px 8px 2px #03045e;
  transition: all 0.3s ease-in-out;
}

.header .branding {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-decoration: none;
  padding-left: 30px;
}

.header .branding .nav-logo-text {
  font-size: 2rem;
  color: #caf0f8;
  padding-left: 10px;
  transition: all 0.4s ease-in-out;
}

.header .branding .nav-logo-text:hover {
  transform: scale(0.9);
}

.header .nav {
  transform-style: preserve-3d;
  transform: translateZ(11px);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header .nav .nav-links {
  width: 70vw;
  display: flex;
  justify-content: space-around;
}

.header .nav .nav-links li {
  list-style-type: none;
  transition: all 0.3s ease-in-out;
}

.header .nav .nav-links li .nav-link {
  text-decoration: none;
  font-size: 2rem;
  color: #fff;
}

.header .nav .nav-links li:hover {
  transform: scale(0.9);
}

#hero {
  height: 90vh;
  width: 100vw;
  background-color: #0077b6;
  border-bottom-right-radius: 200px;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#hero::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("/images/bg-bin.jpg") center/cover no-repeat;
  mix-blend-mode: hard-light;
  opacity: 0.2;
  border-bottom-right-radius: 200px;
}

#hero .desc {
  color: #fff;
}

#about {
  background-color: #caf0f8;
  border-bottom-left-radius: 200px;
}

#about .feature,
#about .feature-2 {
  display: flex;
  justify-content: space-evenly;
  padding: 0 10vw;
  margin: 0 auto;
  height: 45vh;
  margin-top: 50px;
  margin-bottom: 200px;
}

#about .feature .feature-icon,
#about .feature-2 .feature-icon {
  display: none;
}

#about .feature .section-mockup-content,
#about .feature-2 .section-mockup-content {
  position: relative;
  top: -100px;
}

#about .feature .section-text-content,
#about .feature-2 .section-text-content {
  width: auto;
  display: flex;
  justify-content: center;
}

#about .feature .section-text-content .name,
#about .feature-2 .section-text-content .name {
  font-size: 4rem;
  font-weight: 600;
  color: #0077b6;
}

#contact {
  background-color: #0077b6;
  width: 100vw;
  padding: 40px 0;
}

#contact .contact-heading {
  text-align: center;
  color: #03045e;
  font-weight: 600;
  font-size: 3rem;
}

#contact .contact-form {
  max-width: 600px;
  margin: auto;
  padding: 0 10px;
  text-align: center;
}

#contact .contact-form-text {
  font-family: "Poppins", sans-serif;
  font-size: 1.375rem;
  width: 100%;
  margin: 16px 0;
  background: transparent;
  border: 3px solid #03045e;
  border-radius: 12px;
  padding: 20px 40px;
  outline: none;
  color: #111;
  transition: 0.5s;
}

#contact .contact-form-text:focus {
  background: #0085cc;
  box-shadow: 0 0 12px 1px #03045e;
}

#contact .contact-form-text::placeholder {
  color: #03045e;
}

#contact textarea.contact-form-text {
  resize: none;
  height: 160px;
}

#contact .contact-form-btn {
  font-family: "Poppins", sans-serif;
  border: 0;
  font-size: 2rem;
  background: #caf0f8;
  color: #111;
  padding: 12px 50px;
  border-radius: 40px;
  cursor: pointer;
  transition: 0.5s;
  outline: none;
}

#contact .contact-form-btn:hover {
  background: #00b4d8;
}

#download {
  width: 100vw;
  padding-top: 20px;
  padding-bottom: 100px;
  background-color: #0077b6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#download .download-heading {
  font-size: 4rem;
  font-weight: 600;
  color: #03045e;
}

#download .info {
  font-size: 2rem;
  font-weight: 300;
  color: #03045e;
  padding-bottom: 20px;
}

#partners {
  padding-top: 50px;
  text-align: center;
}

#partners .logos {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#partners .logos img {
  margin: 0 20px;
}

#partners .partners-heading {
  font-size: 3rem;
  font-weight: 600;
  color: #03045e;
}

.footer {
  padding: 20px 30px;
  font-size: 1.375rem;
  background-color: #03045e;
  color: #caf0f8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer .policy-link {
  text-decoration: none;
  color: #fff;
}

.footer .policy-link:hover {
  text-decoration: underline;
}

.footer .mockup-att {
  font-size: 1rem;
  color: #fff;
  text-decoration: none;
}

.footer .mockup-att:hover {
  text-decoration: underline;
}

#privacy-policy {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  height: fit-content;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

#privacy-policy .h1 {
  width: 100%;
  font-size: 3rem;
}

#privacy-policy .content {
  width: 100%;
  font-size: 1.375rem;
  padding: 0 10vw;
}

body {
  background-color: #caf0f8;
}

body .google-play-btn {
  margin-left: -10px;
  transition: all 0.3s ease-in-out;
}

body .google-play-btn:hover {
  transform: translateY(-5px);
}

.section-text-content {
  transform: translateZ(2px);
  width: 40vw;
  display: flex;
  flex-direction: column;
}

.section-text-content .h1 {
  font-size: 5rem;
  font-weight: 600;
  color: #90e0ef;
}

.section-text-content .desc {
  font-size: 2rem;
  width: 460px;
  color: #03045e;
}

.section-text-content .btn-area {
  display: flex;
  justify-content: start;
  align-items: center;
}

.section-text-content .btn-area .check-btn {
  width: 180px;
  height: 60px;
  border-radius: 12px;
  background-color: #03045e;
  color: #caf0f8;
  text-decoration: none;
  text-align: center;
  font-size: 1.375rem;
  padding-top: 12px;
  transform: translateY(-3px);
}

.section-text-content .btn-area .check-btn:hover {
  word-spacing: 10px;
}

.section-mockup-content {
  transform: translateZ(10px);
  z-index: 99;
  width: 360px;
  height: 640px;
  background: #fff;
  border: 10px solid #000;
  border-radius: 20px;
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
  #hero {
    height: 95vh;
  }
  .section-text-content {
    width: 50vw;
  }
  #about .feature,
  #about .feature-2 {
    padding: 0 5vw;
  }
  #download .video {
    width: 960px;
    height: 540px;
  }
  #partners img {
    width: 100px;
    height: auto;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .section-mockup-content {
    display: none;
  }
  #hero {
    height: 100vh;
    text-align: center;
    border-bottom-right-radius: 0%;
  }
  #hero::after {
    border-bottom-right-radius: 0%;
  }
  .section-text-content {
    text-align: center;
    width: 100vw;
  }
  .section-text-content .desc {
    margin: 0 auto;
  }
  .section-text-content .btn-area {
    justify-content: center;
  }
  #about .feature,
  #about .feature-2 {
    height: fit-content;
  }
  #download .video {
    width: 720px;
    height: 480px;
  }
  #partners img {
    width: 100px;
    height: auto;
  }
  #partners .partners-heading {
    font-size: 2rem;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    padding: 20px 40px;
    width: 100vw;
  }
  .header .branding {
    padding-left: 0;
  }
  .header .branding .nav-logo-text {
    display: none;
  }
  .header .nav .nav-links {
    position: absolute;
    right: 0px;
    height: 100vh;
    width: 60vw;
    top: 0;
    background-color: #0077b6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    transform: translateX(100%);
    transition: transform 0.4s ease-out;
  }
  .header .nav .nav-links li {
    opacity: 0;
  }
  .header .nav .nav-links li .nav-link {
    font-size: 2rem;
  }
  .header .nav .active-close {
    z-index: -10;
    transform-style: preserve-3d;
    transform: translateZ(-1px);
    position: absolute;
    left: 0;
    top: 0;
    width: 40vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease-in;
  }
  .header .nav .active-hamburger {
    transform: translateX(0%);
  }
  .header .nav .hamburger-menu {
    z-index: 5;
    display: block;
    cursor: pointer;
  }
  .header .nav .hamburger-menu div {
    width: 40px;
    height: 4px;
    background-color: #fff;
    margin: 10px;
    transition: all 0.4s ease;
  }
  #about .feature,
  #about .feature-2 {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  #about .feature .feature-icon,
  #about .feature-2 .feature-icon {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  #hero {
    height: 100vh;
    width: 100vw;
    text-align: center;
    border-bottom-right-radius: 0%;
  }
  #hero::after {
    border-bottom-right-radius: 0%;
  }
  .section-mockup-content {
    display: none;
  }
  .section-text-content {
    text-align: center;
    width: 100vw;
  }
  .section-text-content .h1 {
    font-size: 4rem;
  }
  .section-text-content .desc {
    width: 90vw;
    font-size: 1.375rem;
    margin: 0 auto;
  }
  .section-text-content .btn-area {
    justify-content: center;
  }
  #about .feature,
  #about .feature-2 {
    height: fit-content;
    margin-bottom: 0;
  }
  #about .feature .feature-icon,
  #about .feature-2 .feature-icon {
    width: 96px;
    height: 96px;
  }
  #about .feature .section-text-content .name,
  #about .feature-2 .section-text-content .name {
    font-size: 2rem;
  }
  #download .download-heading {
    font-size: 2rem;
  }
  #download .info {
    font-size: 1.375rem;
    text-align: center;
  }
  #download .video {
    width: 100vw;
    height: auto;
  }
  #contact .contact-form-text {
    margin: 8px 0;
    padding: 12px 26px;
  }
  #contact .contact-form-text:focus {
    box-shadow: none;
  }
  #contact textarea.contact-form-text {
    height: 20vh;
  }
  #contact .contact-form-btn {
    font-size: 1.375rem;
    font-weight: 600;
    padding: 12px 30px;
    border-radius: 40px;
  }
  #partners img {
    width: 100px;
    height: auto;
  }
  #partners .partners-heading {
    font-size: 2rem;
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-9px, 10px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-9px, -10px);
}

@media screen and (max-height: 900px) {
  #hero {
    height: 95vh;
  }
  #hero .section-mockup-content {
    transform: translateY(60px);
  }
}
/*# sourceMappingURL=style.css.map */