@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

$primary-blue: #0077b6;
$secondary-blue: #caf0f8;
$light-blue: #90e0ef;
$dark-blue: #03045e;

// breakpoint variables
$breakpoint-mobile: 320px;
$breakpoint-tablet: 481px;
$breakpoint-sm-screen: 769px;
$breakpoint-md-screen: 1025px;
$breakpoint-lg-screen: 1201px;

@mixin flex-it($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  position: relative;
  background-color: $secondary-blue;

  .google-play-btn {
    margin-left: -10px;
    transition: all 0.3s ease-in-out;
  }

  .google-play-btn:hover {
    transform: translateY(-5px);
  }
}

main {
  height: fit-content;
}

// Header - navigation
header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transition: all 0.3s ease-in-out;

  &.sticky {
    padding: 15px 40px;
    background-color: $primary-blue;
    box-shadow: 0px 0px 8px 2px $dark-blue;
    transition: all 0.3s ease-in-out;
  }

  .branding {
    @include flex-it(row);
    // display: flex;
    // justify-content: center;
    // align-items: center;
    padding-left: 30px;
  }

  .branding .nav-logo-text {
    text-decoration: none;
    font-size: 1.8rem;
    color: $secondary-blue;
    padding-left: 10px;
    transition: all 0.4s ease-in-out;
    &:hover {
      transform: scale(0.9);
    }
  }

  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    ul {
      width: 70vw;
      display: flex;
      justify-content: space-around;
      align-items: center;
      li {
        list-style-type: none;
        transition: all 0.3s ease-in-out;
        a {
          text-decoration: none;
          font-size: 1.8rem;
          font-weight: 400;
          color: #fff;
        }
        &:hover {
          transform: scale(0.9);
        }
      }
    }
  }
}

// Hero section
#hero {
  height: 90vh;
  width: 100vw;
  position: relative;
  background-color: $primary-blue;
  border-bottom-right-radius: 200px;
  transform-style: preserve-3d;
  @include flex-it(row);
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("/images/bg-bin.jpg") center/cover no-repeat;
    mix-blend-mode: hard-light;
    opacity: 0.2;
    border-bottom-right-radius: 200px;
  }
}

// text and mockup content divs
.section-text-content {
  transform: translateZ(2px);
  width: 40vw;
  display: flex;
  flex-direction: column;
  h1 {
    font-size: 5rem;
    font-weight: 600;
    color: $light-blue;
  }

  p {
    font-size: 2rem;
    width: 460px;
    color: $dark-blue;
  }

  .btn-area {
    display: flex;
    justify-content: start;
    align-items: center;

    .check-btn {
      width: 180px;
      height: 60px;
      border-radius: 12px;
      background-color: $dark-blue;
      color: $secondary-blue;
      text-decoration: none;
      text-align: center;
      font-size: 1.4rem;
      padding-top: 12px;
      transform: translateY(-3px);
      &:hover {
        word-spacing: 10px;
      }
    }
  }
}

.section-mockup-content {
  transform: translateZ(10px);
  width: 360px;
  height: 640px;
  background: #fff;
  border: 10px solid #000;
  border-radius: 20px;
}

// About section
#about {
  z-index: 3;
  scroll-margin-top: 200px;
  height: fit-content;
  background-color: $secondary-blue;
  border-bottom-left-radius: 200px;
  .func,
  .func-2 {
    display: flex;
    justify-content: space-evenly;
    padding: 0 10vw;
    margin: 0 auto;
    height: 45vh;
    margin-top: 50px;
    margin-bottom: 200px;
    .section-mockup-content {
      position: relative;
      top: -100px;
      z-index: 10;
    }
    .section-text-content {
      width: auto;
      display: flex;
      justify-content: center;
      h2 {
        font-size: 4rem;
        font-weight: 600;
        color: $primary-blue;
      }
      p {
        font-size: 2rem;
      }
    }
  }
}

// Download section
#download {
  scroll-margin-top: 80px;
  height: fit-content;
  padding-top: 20px;
  padding-bottom: 100px;
  background-color: $primary-blue;
  @include flex-it(column);
  h2 {
    font-size: 4rem;
    font-weight: 600;
    color: $dark-blue;
  }
  p.info {
    font-size: 2rem;
    font-weight: 300;
    color: $dark-blue;
    padding-bottom: 20px;
  }
}

// Contact section
#contact {
  background-color: $primary-blue;
  background-size: cover;
  width: 100vw;
  height: fit-content;
  padding: 40px 0;
}

#contact h2 {
  text-align: center;
  color: $dark-blue;
  font-weight: 700;
  font-size: 3rem;
}

.contact-form {
  max-width: 600px;
  margin: auto;
  padding: 0 10px;
  overflow: hidden;
  text-align: center;
}

.contact-form-text {
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  width: 100%;
  margin: 16px 0;
  border: 0;
  background: transparent;
  border: 3px solid $dark-blue;
  border-radius: 12px;
  padding: 20px 40px;
  outline: none;
  color: #111;
  transition: 0.5s;
  &:focus {
    background: #0085cc;
  }
}

.contact-form-text:focus {
  box-shadow: 0 0 12px 1px $dark-blue;
}

textarea.contact-form-text {
  resize: none;
  height: 160px;
}

.contact-form-text::placeholder {
  color: $dark-blue;
}

.contact-form-btn {
  font-family: "Poppins", sans-serif;
  border: 0;
  font-size: 2rem;
  background: $secondary-blue;
  color: #111;
  padding: 12px 50px;
  border-radius: 40px;
  cursor: pointer;
  transition: 0.5s;
  outline: none;
}

.contact-form-btn:hover {
  background: #00b4d8;
}

#partners {
  padding-top: 50px;
  text-align: center;
  .logos {
    @include flex-it(row);
    img {
      margin: 0 20px;
    }
  }
  h2 {
    font-size: 2.6rem;
    color: $dark-blue;
  }
}

footer {
  padding: 20px 30px;
  font-size: 1.2rem;
  background-color: $dark-blue;
  color: $secondary-blue;
  @include flex-it(column);
  p {
    a {
      text-decoration: none;
      color: $primary-blue;
    }
  }
}

@media screen and (min-width: $breakpoint-md-screen) and (max-width: $breakpoint-lg-screen - 1) {
  #hero {
    height: 95vh;
  }
  .section-text-content {
    width: 50vw;
  }
  #about {
    .func,
    .func-2 {
      padding: 0 5vw;
    }
  }
  #download {
    iframe {
      width: 960px;
      height: 540px;
    }
  }
  #partners {
    img {
      width: 100px;
      height: auto;
    }
  }
}

@media screen and (min-width: $breakpoint-sm-screen) and (max-width: $breakpoint-md-screen - 1) {
  // !!! Important !!! - no phone mockups

  .section-mockup-content {
    display: none;
  }

  #hero {
    height: 100vh;
    text-align: center;
    border-bottom-right-radius: 0%;
    &::after {
      border-bottom-right-radius: 0%;
    }
  }

  .section-text-content {
    text-align: center;
    width: 100vw;
    p {
      margin: 0 auto;
    }
    .btn-area {
      justify-content: center;
    }
  }
  #about {
    scroll-margin-top: 20px;
    .func,
    .func-2 {
      display: flex;
      justify-content: space-evenly;
      padding: 0 10vw;
      margin: 0 auto;
      // height: 45vh;
      margin-top: 50px;
      margin-bottom: 50px;
    }
  }
  #download {
    iframe {
      width: 720px;
      height: 480px;
    }
  }
  #partners {
    img {
      width: 100px;
      height: auto;
    }
    h2 {
      font-size: 2rem;
    }
  }
}

@media screen and (max-width: $breakpoint-md-screen - 1) {
  // change navbar to hamburger menu

  header {
    padding: 20px 40px;
    .branding {
      padding-left: 0;
    }
    .branding .nav-logo-text {
      display: none;
    }
    nav {
      ul {
        position: absolute;
        right: 0px;
        height: 100vh;
        top: 0;
        background-color: $primary-blue;
        @include flex-it(column);
        justify-content: space-evenly;
        // Take menu off the screen
        transform: translateX(100%);
        transition: transform 0.4s ease-out;
        li {
          opacity: 0;
          a {
            font-size: 2.4rem;
          }
        }
      }

      .hamburger-menu {
        z-index: 5;
        display: block;
        cursor: pointer;
        div {
          width: 40px;
          height: 4px;
          background-color: #fff;
          margin: 10px;
          transition: all .4s ease;
        }
      }
    }
  }
}

.active-hamburger {
  transform: translateX(0%);
}

@keyframes navFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle {
  .line1{
    transform: rotate(-45deg) translate(-9px, 10px);
  }
  .line2 {
    opacity: 0;
  }
  .line3{
    transform: rotate(45deg) translate(-9px, -10px);
  }
}