#about {
  background-color: $secondary-blue;
  border-bottom-left-radius: 200px;
  .section-mockup-content {
    position: relative;
    top: -100px;
  }
}

.feature,
.feature-2 {
  display: flex;
  justify-content: space-evenly;
  padding: 0 10vw;
  margin: 0 auto;
  height: 45vh;
  margin-top: 50px;
  margin-bottom: 200px;
  transition: all .6s ease-in;
}

.feature-hidden {
  opacity: 0;
  transform: translateY(50px);
}

.feature-icon {
  display: none;
}

.section-text-content {
  width: auto;
  display: flex;
  justify-content: center;
  .name {
    font-size: $font-xlg;
    font-weight: 600;
    color: $primary-blue;
  }
}
