#contact {
  background-color: $primary-blue;
  width: 100vw;
  padding: 40px 0;
}

.contact-heading {
  text-align: center;
  color: $dark-blue;
  font-weight: 600;
  font-size: $font-lg;
}

.contact-form {
  max-width: 600px;
  margin: auto;
  padding: 0 10px;
  text-align: center;
}

.contact-form-text {
  font-family: "Poppins", sans-serif;
  font-size: $font-sm;
  width: 100%;
  margin: 16px 0;
  background: transparent;
  border: 3px solid $dark-blue;
  border-radius: 12px;
  padding: 20px 40px;
  outline: none;
  color: #111;
  transition: 0.5s;
  &:focus {
    background: #0085cc;
    box-shadow: 0 0 12px 1px $dark-blue;
  }
  &::placeholder {
    color: $dark-blue;
  }
}

textarea.contact-form-text {
  resize: none;
  height: 160px;
}

.contact-form-btn {
  font-family: "Poppins", sans-serif;
  border: 0;
  font-size: $font-md;
  background: $secondary-blue;
  color: #111;
  padding: 12px 50px;
  border-radius: 40px;
  cursor: pointer;
  transition: 0.5s;
  outline: none;
  &:hover {
    background: #00b4d8;
  }
}

.mail-info {
  text-align: center;
  font-size: $font-sm;
  color: $dark-blue;
  margin: 20px auto;
}