
.footer {
    padding: 20px 30px;
    font-size: $font-sm;
    background-color: $dark-blue;
    color: $secondary-blue;
    @include flex-it(column);
    .policy-link {
      text-decoration: none;
      color: #fff;
      &:hover {
        text-decoration: underline;
      }
    }
    .mail-info {
      color: $light-blue;
    }
  }