@import "globals";
@import "variables";
@import "mixins";
@import "animations";
// sections
@import "header";
@import "hero";
@import "about";
@import "contact";
@import "download";
@import "partners";
@import "footer";
// pages
@import "privacy";

body {
  background-color: $secondary-blue;
  .google-play-btn {
    margin-left: -10px;
    transition: all 0.3s ease-in-out;
  }

  .google-play-btn:hover {
    transform: translateY(-5px);
  }
}

// text and mockup content divs
.section-text-content {
  transform: translateZ(2px);
  width: 40vw;
  display: flex;
  flex-direction: column;
  .h1 {
    font-size: $font-h1;
    font-weight: 600;
    color: $light-blue;
  }

  .desc {
    font-size: $font-md;
    width: 460px;
    color: $dark-blue;
  }

  .btn-area {
    display: flex;
    justify-content: start;
    align-items: center;

    .check-btn {
      width: 180px;
      height: 60px;
      border-radius: 12px;
      background-color: $dark-blue;
      color: $secondary-blue;
      text-decoration: none;
      text-align: center;
      font-size: $font-sm;
      padding-top: 12px;
      transform: translateY(-3px);
      &:hover {
        word-spacing: 10px;
      }
    }
  }
}

.section-mockup-content {
  transform: translateZ(10px);
  z-index: 99;
  width: 360px;
  height: 640px;
  background: #fff;
  border: 10px solid #000;
  border-radius: 20px;
}

@media screen and (min-width: $breakpoint-md-screen) and (max-width: $breakpoint-lg-screen - 1) {
  #hero {
    height: 95vh;
  }
  .section-text-content {
    width: 50vw;
  }
  #about {
    .feature,
    .feature-2 {
      padding: 0 5vw;
    }
  }
  #download {
    .video {
      width: 960px;
      height: 540px;
    }
  }
  #partners {
    img {
      width: 100px;
      height: auto;
    }
  }
}

@media screen and (min-width: $breakpoint-sm-screen) and (max-width: $breakpoint-md-screen - 1) {
  .section-mockup-content {
    display: none;
  }

  #hero {
    height: 100vh;
    text-align: center;
    border-bottom-right-radius: 0%;
    &::after {
      border-bottom-right-radius: 0%;
    }
  }

  .section-text-content {
    text-align: center;
    width: 100vw;
    .desc {
      margin: 0 auto;
    }
    .btn-area {
      justify-content: center;
    }
  }
  #about {
    .feature,
    .feature-2 {
      height: fit-content;
    }
  }
  #download {
    .video {
      width: 720px;
      height: 480px;
    }
  }
  #partners {
    img {
      width: 100px;
      height: auto;
    }
    .partners-heading {
      font-size: $font-md;
    }
  }
}

// change navbar to hamburger menu
@media screen and (max-width: $breakpoint-md-screen - 1) {
  .header {
    padding: 20px 40px;
    width: 100vw;
    .branding {
      padding-left: 0;
    }
    .branding .nav-logo-text {
      display: none;
    }
    .nav {
      .nav-links {
        position: absolute;
        right: 0px;
        height: 100vh;
        width: 60vw;
        top: 0;
        background-color: $primary-blue;
        @include flex-it(column);
        justify-content: space-evenly;
        // Take menu off the screen
        transform: translateX(100%);
        transition: transform 0.4s ease-out;
        li {
          opacity: 0;
          .nav-link {
            font-size: $font-md;
          }
        }
      }

      .active-close {
        z-index: -10;
        transform-style: preserve-3d;
        transform: translateZ(-1px);
        position: absolute;
        left: 0;
        top: 0;
        width: 40vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.4);
        transition: all 0.3s ease-in;
      }

      .active-hamburger {
        transform: translateX(0%);
      }

      .hamburger-menu {
        z-index: 5;
        display: block;
        cursor: pointer;
        div {
          width: 40px;
          height: 4px;
          background-color: #fff;
          margin: 10px;
          transition: all 0.4s ease;
        }
      }
    }
  }

  #about {
    .feature,
    .feature-2 {
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      .feature-icon {
        display: block;
      }
    }
  }
}

@media screen and (max-width: $breakpoint-sm-screen - 1) {
  #hero {
    height: 100vh;
    width: 100vw;
    text-align: center;
    border-bottom-right-radius: 0%;
    &::after {
      border-bottom-right-radius: 0%;
    }
  }

  .section-mockup-content {
    display: none;
  }

  .section-text-content {
    text-align: center;
    width: 100vw;
    .h1 {
      font-size: $font-xlg;
    }
    .desc {
      width: 90vw;
      font-size: $font-sm;
      margin: 0 auto;
    }
    .btn-area {
      justify-content: center;
    }
  }

  #about {
    .feature,
    .feature-2 {
      height: fit-content;
      margin-bottom: 0;
      .feature-icon {
        width: 96px;
        height: 96px;
      }
      .section-text-content {
        .name {
          font-size: $font-md;
        }
      }
    }
  }
  #download {
    .download-heading {
      font-size: $font-md;
    }
    .info {
      font-size: $font-sm;
      text-align: center;
    }
    .video {
      width: 100vw;
      height: auto;
    }
  }

  #contact {
    .contact-form-text {
      margin: 8px 0;
      padding: 12px 26px;
      &:focus {
        box-shadow: none;
      }
    }

    textarea.contact-form-text {
      height: 20vh;
    }

    .contact-form-btn {
      font-size: $font-sm;
      font-weight: 600;
      padding: 12px 30px;
      border-radius: 40px;
    }
  }

  #partners {
    img {
      width: 100px;
      height: auto;
    }
    .partners-heading {
      font-size: $font-md;
    }
  }
  // eo mobile breakpoint
}

.toggle {
  .line1 {
    transform: rotate(-45deg) translate(-9px, 10px);
  }
  .line2 {
    opacity: 0;
  }
  .line3 {
    transform: rotate(45deg) translate(-9px, -10px);
  }
}

// mac
@media screen and (max-height: 900px) {
  #hero {
    height: 95vh;
    .section-mockup-content {
      transform: translateY(60px);
    }
  }
}
