@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@import "globals";
@import "variables";
@import "mixins";
@import "animations";

body {
  background-color: $secondary-blue;
  .google-play-btn {
    margin-left: -10px;
    transition: all 0.3s ease-in-out;
  }

  .google-play-btn:hover {
    transform: translateY(-5px);
  }
}

// Header - navigation
.header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transition: all 0.3s ease-in-out;

  &.sticky {
    padding: 15px 40px;
    background-color: $primary-blue;
    box-shadow: 0px 0px 8px 2px $dark-blue;
    transition: all 0.3s ease-in-out;
  }

  .branding {
    @include flex-it(row);
    text-decoration: none;
    padding-left: 30px;
  }

  .branding .nav-logo-text {
    font-size: $font-md;
    color: $secondary-blue;
    padding-left: 10px;
    transition: all 0.4s ease-in-out;
    &:hover {
      transform: scale(0.9);
    }
  }

  .nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .nav-links {
      width: 70vw;
      display: flex;
      justify-content: space-around;
      align-items: center;
      li {
        list-style-type: none;
        transition: all 0.3s ease-in-out;
        .nav-link {
          text-decoration: none;
          font-size: $font-md;
          font-weight: 400;
          color: #fff;
        }
        &:hover {
          transform: scale(0.9);
        }
      }
    }
  }
}

// Hero section
#hero {
  height: 90vh;
  width: 100vw;
  position: relative;
  background-color: $primary-blue;
  border-bottom-right-radius: 200px;
  transform-style: preserve-3d;
  @include flex-it(row);
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("/images/bg-bin.jpg") center/cover no-repeat;
    mix-blend-mode: hard-light;
    opacity: 0.2;
    border-bottom-right-radius: 200px;
  }
  .desc {
    color: #fff;
  }
}

// text and mockup content divs
.section-text-content {
  transform: translateZ(2px);
  width: 40vw;
  display: flex;
  flex-direction: column;
  .h1 {
    font-size: $font-h1;
    font-weight: 600;
    color: $light-blue;
  }

  .desc {
    font-size: $font-md;
    width: 460px;
    color: $dark-blue;
  }

  .btn-area {
    display: flex;
    justify-content: start;
    align-items: center;

    .check-btn {
      width: 180px;
      height: 60px;
      border-radius: 12px;
      background-color: $dark-blue;
      color: $secondary-blue;
      text-decoration: none;
      text-align: center;
      font-size: $font-sm;
      padding-top: 12px;
      transform: translateY(-3px);
      &:hover {
        word-spacing: 10px;
      }
    }
  }
}

.section-mockup-content {
  transform: translateZ(10px);
  width: 360px;
  height: 640px;
  background: #fff;
  border: 10px solid #000;
  border-radius: 20px;
}

// About section
#about {
  z-index: 3;
  scroll-margin-top: 200px;
  height: fit-content;
  background-color: $secondary-blue;
  border-bottom-left-radius: 200px;
  .feature,
  .feature-2 {
    display: flex;
    justify-content: space-evenly;
    padding: 0 10vw;
    margin: 0 auto;
    height: 45vh;
    margin-top: 50px;
    margin-bottom: 200px;

    .feature-icon {
      display: none;
    }

    .section-mockup-content {
      position: relative;
      top: -100px;
      z-index: 10;
    }
    .section-text-content {
      width: auto;
      display: flex;
      justify-content: center;
      .name {
        font-size: $font-xlg;
        font-weight: 600;
        color: $primary-blue;
      }
    }
  }
}

// Download section
#download {
  scroll-margin-top: 80px;
  height: fit-content;
  padding-top: 20px;
  padding-bottom: 100px;
  background-color: $primary-blue;
  @include flex-it(column);
  .download-heading {
    font-size: $font-xlg;
    font-weight: 600;
    color: $dark-blue;
  }
  .info {
    font-size: $font-md;
    font-weight: 300;
    color: $dark-blue;
    padding-bottom: 20px;
  }
}

// Contact section
#contact {
  background-color: $primary-blue;
  background-size: cover;
  width: 100vw;
  height: fit-content;
  padding: 40px 0;

  .contact-heading {
    text-align: center;
    color: $dark-blue;
    font-weight: 600;
    font-size: $font-lg;
  }

  .contact-form {
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
    text-align: center;
  }

  .contact-form-text {
    font-family: "Poppins", sans-serif;
    font-size: $font-sm;
    width: 100%;
    margin: 16px 0;
    border: 0;
    background: transparent;
    border: 3px solid $dark-blue;
    border-radius: 12px;
    padding: 20px 40px;
    outline: none;
    color: #111;
    transition: 0.5s;
    &:focus {
      background: #0085cc;
      box-shadow: 0 0 12px 1px $dark-blue;
    }
    &::placeholder {
      color: $dark-blue;
    }
  }

  textarea.contact-form-text {
    resize: none;
    height: 160px;
  }

  .contact-form-btn {
    font-family: "Poppins", sans-serif;
    border: 0;
    font-size: $font-md;
    background: $secondary-blue;
    color: #111;
    padding: 12px 50px;
    border-radius: 40px;
    cursor: pointer;
    transition: 0.5s;
    outline: none;
    &:hover {
      background: #00b4d8;
    }
  }
}

#partners {
  padding-top: 50px;
  text-align: center;
  .logos {
    margin: 20px 0;
    @include flex-it(row);
    img {
      margin: 0 20px;
    }
  }
  .partners-heading {
    font-size: $font-lg;
    font-weight: 600;
    color: $dark-blue;
  }
}

.footer {
  padding: 20px 30px;
  font-size: $font-sm;
  background-color: $dark-blue;
  color: $secondary-blue;
  @include flex-it(column);
}

@media screen and (min-width: $breakpoint-md-screen) and (max-width: $breakpoint-lg-screen - 1) {
  #hero {
    height: 95vh;
  }
  .section-text-content {
    width: 50vw;
  }
  #about {
    .feature,
    .feature-2 {
      padding: 0 5vw;
    }
  }
  #download {
    .video {
      width: 960px;
      height: 540px;
    }
  }
  #partners {
    img {
      width: 100px;
      height: auto;
    }
  }
}
  
@media screen and (min-width: $breakpoint-sm-screen) and (max-width: $breakpoint-md-screen - 1) {
  .section-mockup-content {
    display: none;
  }

  #hero {
    height: 100vh;
    text-align: center;
    border-bottom-right-radius: 0%;
    &::after {
      border-bottom-right-radius: 0%;
    }
  }

  .section-text-content {
    text-align: center;
    width: 100vw;
    .desc {
      margin: 0 auto;
    }
    .btn-area {
      justify-content: center;
    }
  }
  #about {
    scroll-margin-top: 20px;
    .feature,
    .feature-2 {
      display: flex;
      justify-content: space-evenly;
      padding: 0 10vw;
      margin: 0 auto;
      // height: 45vh;
      margin-top: 50px;
      margin-bottom: 50px;
    }
  }
  #download {
    .video {
      width: 720px;
      height: 480px;
    }
  }
  #partners {
    img {
      width: 100px;
      height: auto;
    }
    .partners-heading {
      font-size: $font-md;
    }
  }
}

// change navbar to hamburger menu
@media screen and (max-width: $breakpoint-md-screen - 1) {
  .header {
    padding: 20px 40px;
    width: 100vw;
    .branding {
      padding-left: 0;
    }
    .branding .nav-logo-text {
      display: none;
    }
    .nav {
      .nav-links {
        position: absolute;
        right: 0px;
        height: 100vh;
        width: 60vw;
        top: 0;
        background-color: $primary-blue;
        @include flex-it(column);
        justify-content: space-evenly;
        // Take menu off the screen
        transform: translateX(100%);
        transition: transform 0.4s ease-out;
        li {
          opacity: 0;
          .nav-link {
            font-size: $font-md;
          }
        }
      }

      .active-close {
        z-index: -10;
        transform-style: preserve-3d;
        transform: translateZ(-1px);
        position: absolute;
        left: 0;
        top: 0;
        width: 40vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.4);
        transition: all 0.3s ease-in;
      }

      .active-hamburger {
        transform: translateX(0%);
      }

      .hamburger-menu {
        z-index: 5;
        display: block;
        cursor: pointer;
        div {
          width: 40px;
          height: 4px;
          background-color: #fff;
          margin: 10px;
          transition: all 0.4s ease;
        }
      }
    }
  }
}

@media screen and (max-width: $breakpoint-sm-screen - 1) {
  // TODO MOBILE DESIGN, ESPECIALLY ICONS IN ABOUT SECTION
  
  #hero {
    height: 100vh;
    width: 100vw;
    text-align: center;
    border-bottom-right-radius: 0%;
    &::after {
      border-bottom-right-radius: 0%;
    }
  }

  .section-mockup-content {
    display: none;
  }
  
  .section-text-content {
    text-align: center;
    width: 100vw;
    .desc {
      margin: 0 auto;
    }
    .btn-area {
      justify-content: center;
    }
  }
  #about {
    .feature,
    .feature-2 {
      display: flex;
      justify-content: space-evenly;
      padding: 0 10vw;
      margin: 0 auto;
      // height: 45vh;
      margin-top: 50px;
      margin-bottom: 50px;
    }
  }
  #download {
    .video {
      width: 720px;
      height: 480px;
    }
  }
  #partners {
    img {
      width: 100px;
      height: auto;
    }
    .partners-heading {
      font-size: $font-md;
    }
  }
  // eo mobile breakpoint
}

.toggle {
  .line1 {
    transform: rotate(-45deg) translate(-9px, 10px);
  }
  .line2 {
    opacity: 0;
  }
  .line3 {
    transform: rotate(45deg) translate(-9px, -10px);
  }
}
